.search-bar {
  background-color: #1d3536;
  height: 40px;
}
.nav-logo {
  width: 35px;
}
.nav-btn {
  font-size: 12px;
  width: 42%;
  border: none;
  background-image: linear-gradient(#008edd, #004ea9);
}
.hero-icon img {
    width: 100%;
}
.hero-icon {
    width: 68px;
    background-color: #2b3138;
    padding: 5px 10px;
    margin: 2px;
}
.second-sec-card{
    border: 2px solid red;
}
.small-boxes{
  border: 1px solid red;
  border-radius: 10px;
}