@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}
.search-bar {
  background-color: #1d3536;
}
.nav-logo {
  width: 35px;
}
.nav-btn {
  font-size: 12px;
  margin-left: 10px;
  width: 150px;
  height: 46px;
  border: none;
  background-image: linear-gradient(#008edd, #004ea9);
}
.hero-icon img {
  width: 100%;
}
.hero-icon {
  width: 68px;
  background-color: #2b3138;
  padding: 5px 10px;
  margin: 2px;
}

.small-boxes {
  border: 1px solid rgb(120, 118, 118);
  border-radius: 10px;
}
.card-body .nav .nav-item .active {
  background-color: #00b483;
}
.premier-section {
  margin-top: 10%;
}

.img-section {
  margin-top: 6%;
}

.global-sec-btn {
  border: 1px solid #00b483;
  border-bottom: none;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
}
.global-sec-img {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.global-sec-upper-left {
  margin-top: 10%;
}

.global-sec-lower-box {
  margin-top: 20px;
  height: 100%;
  border-left: 1px solid green;
  padding-left: 15px;
}
.global-sec-lower-box img {
  margin-top: 40%;
}
.global-sec-lower-box p {
  font-size: 20px;
}
.global-sec-lower-box span {
  color: #d2d2d2;
  font-size: 16px;
}
.question-section{
  margin-top: 10%;
}
.question-sec-upper  {
  margin-bottom: 5%;
}
.question-sec-upper p {
  color: white;
  font-size: 55px;
}
.question-sec-upper span {
  font-size: 20px;
  color: #d2d2d2;
}
.question-item {
  color: white;
  background-color: rgb(26, 35, 42);
}
.accordion-item:first-of-type .accordion-button {
  color: white;
  background-color: rgb(26, 35, 42);
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgb(26, 35, 42);
}

.accordion-button::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23ffffff" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>');
}
.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23ffffff" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>');
}

.footer-section{
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 11%;
}
.footer-icons i{
  background-color: #00B483;
  font-size: 20px;
  padding: 17px 20px;
  color: black;
}


@media only screen and (max-width: 576px) {
  .global-sec-lower-box {
    margin-left: 10px;
  }
  .global-sec-lower-box img {
    margin-top: 20%;
  }

}
