body {
  background-image: url(../assets/background.jpg);
  height: 100vh;
  background-repeat: repeat-y;
  background-size: cover;
}

.nav-btn-row {
  gap: 25px;
}
.nav-item > a {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 18px;
}
.nav-item > a > i {
  font-size: 12px;
}
.nav-form {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-search {
  border: none;
  background-color: #1f3337;
  width: 210px;
  height: 40px;
  padding-bottom: 10px;
}
.logo > img {
  width: 40px;
  border-radius: 50%;
}
.nav-bell-icon {
  padding: 10px 11px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: #1f3337;
}
.nav-btn {
  background-image: linear-gradient(#008edd, #004ea9);
  border-radius: 100px;
  padding: 7px 25px;
  margin-left: 10px;
}
.second-cont {
  background-color: #1f3337;
}
.second-cont-left {
  display: flex;
  align-items: center;
}
.second-cont-left a {
  text-decoration: none;
  border: 1px solid green;
  border-radius: 100px;
  padding: 6px 20px;
}
.img-ico img {
  height: 39px;
  background-color: #294143;
  border-radius: 5px;
  padding: 10px;
}
.col-sm-7 p {
  padding-top: 80px;
}
.col-sm-7 {
  margin-top: 25px;
  flex: 0 0 auto;
  width: 39%;
}
.col-sm-7 h5 {
  width: 416px;
}
.col-sm-3 {
  background-color: rgba(128, 128, 128, 0.218);
  border-radius: 10px;
}
.col-sm-3-card {
  padding: 10px;
}
.line-1 a {
  text-decoration: none;
  color: black;
  background-color: #00b483;
  padding: 8px 36px;
}
.line p {
  margin: 15px 0px 3px 0px;
  color: #d2d2d2;
  font-size: 12px;
}
.line-box {
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  font-size: 13px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  padding: 10px;
}
.dropdown {
  cursor: pointer;
}
.dropdown-toggle {
  text-decoration: none;
}
.dropdown-toggle img {
  padding-right: 4px;
  height: 25px;
}
.line-box-btn {
  background-color: #00b483;
  border: none;
  border-radius: 10px;
  height: 53px;
}

.third-cont .row {
  display: flex;
  justify-content: center;
}
.fourth-cont {
  display: flex;
  margin-top: 7%;
  width: 73%;
}
.left-fourth-cont img {
  width: 586px;
}
.right-fourth-cont {
  width: 471px;
}
.right-fourth-cont div {
  margin-left: 10px;
  border-left: 1px solid #00b483;
  padding-left: 10px;
  width: 103%;
}
.right-fourth-cont p {
  color: #d2d2d2;
}
.fifth-cont {
  display: flex;
  flex-direction: column;
  width: 602px;
  margin-top: 10%;
}
.fifth-lower-left {
  border-left: 1px solid #00b483;
  width: 40%;
  height: 10%;
  padding-left: 10px;
}
.fifth-lower-left-first {
  padding-bottom: 20px;
}
.fifth-lower-left-first img {
  width: 12%;
}
.fifth-lower-left-first h6 {
  padding: 12px 0px 6px 0px;
  color: white;
  font-size: 15px;
}
.fifth-lower-left-first p {
  color: #d2d2d2;
  font-size: 10px;
}
.fifth-lower-section {
  display: flex;
  gap: 100px;
  margin-top: 30px;
}
.fifth-lower-right {
  border-left: 1px solid #00b483;
  width: 40%;
  padding-left: 10px;
  margin-top: 70px;
}
.sixth-cont {
  text-align: center;
  margin-top: 15%;
}
.sixth-cont p {
  font-size: 15px;
  color: white;
}
.sixth-cont img {
  width: 70%;
}
