body {
  background-image: url(../assets/background.jpg);
  height: 100vh;
  background-repeat: repeat-y;
  background-size: cover;
}

.nav-btn-row {
  gap: 25px;
}
.nav-item > a {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 18px;
}
.nav-item > a > i {
  font-size: 12px;
}
.nav-form {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-search {
  border: none;
  background-color: #1f3337;
  width: 210px;
  height: 40px;
  padding-bottom: 10px;
}
.logo > img {
  width: 40px;
  border-radius: 50%;
}
.nav-bell-icon {
  padding: 10px 11px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: #1f3337;
}
.nav-btn {
  background-image: linear-gradient(#008edd, #004ea9);
  border-radius: 100px;
  padding: 7px 25px;
  margin-left: 10px;
}
.second-cont {
  background-color: #1f3337;
 
}
.second-cont-left{
  display: flex;
  align-items: center;
}
.second-cont-left a {
  text-decoration: none;
  border: 1px solid green;
  border-radius: 100px;
  padding: 6px 20px;
}
.img-ico img{
  height: 39px;
background-color: #294143;
border-radius: 5px;
padding: 10px;
}
.col-sm-7 p{
  padding-top: 80px;
}
.col-sm-7{
  flex: 0 0 auto;
        width: 39%;
}
.col-sm-7 h5{
  width: 416px;
}
.col-sm-3{
  background-color: rgba(128, 128, 128, 0.218);
  border-radius: 10px;
}
.col-sm-3-card{
  padding: 10px;
}
.line-1 a{
text-decoration: none;
color: black;
background-color: #00B483;
padding: 8px 36px;
}
